<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @application.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @application.url %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @application.mobile %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @application.company_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @application.description %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
